@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row text-center align-content-center justify-content-center">
        <div class="col-5 mt-5 text-start">
            <br />
            <br />
            <h2 class="fw-bold">Password Manager</h2>
            <br />
            <p class="text">Bem-vindo ao nosso Password Manager!</p>
            <p class="text">Este é um projeto de estudo desenvolvido para facilitar a sua vida digital. Com o Password Manager, você pode gerar senhas seguras e de fácil acesso, garantindo a proteção das suas contas online.</p>
            <p class="text">Nossa ferramenta permite criar senhas aleatórias e complexas, personalizadas para cada uma das suas contas, além de armazenar e gerenciar todas elas de forma segura.</p>
            <p class="text">Sinta-se à vontade para explorar e utilizar o Password Manager. Esperamos que ele torne sua experiência online mais segura e conveniente!</p>
            
        </div>
        <div class="col-7 justify-content-end">
            <img src="~/5204685.jpg"  width="100%"/>
        </div>
    </div>
</div>
