@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row text-center align-content-center justify-content-center">
        <div class="col-5 mt-5 text-start">
            <br />
            <br />
            <h2 class="fw-bold">Password Manager</h2>
            <br />
            <p class="text">You free password manager with secure database</p>
        </div>
        <div class="col-7 justify-content-end">
            <img src="~/5204685.jpg"  width="100%"/>
        </div>
    </div>
</div>
